# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# TrueSTUDIO files
workspace/.metadata/
workspace/*/.metadata/
workspace/*/.settings/language.settings.xml
*.su
asp.*
cfg1_out.*
kernel_cfg.*
offset.h
asp/cfg-*

# etc.,,,
*.swp
.DS_Store
